.div1{
  background-color:rgba(163, 114, 158, 0.844);
}


  .body {
    background-image: url("./Pretty\ Marble\ Wallpaper.jfif");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
    .div3 { 
      background-color: rgb(211, 143, 86);
    }
h2 {

    color: rgb(250, 248, 248);
    border: 2px solid rgba(137, 124, 95, 0.332);
    margin: 20px;
    padding: 20px;

  }

  h2{
    color: rgba(255, 255, 255, 0.768);

 
  }

  body{
    background-color: rgba(140, 108, 93, 0.907);
  }

  .div4{
    background-color: rgb(52, 157, 110);
  }
h3 {
    background-color: rgb(68, 188, 92);
    color: rgb(250, 248, 248);
    border: 2px solid rgba(255, 255, 255, 0.332);
    margin: 20px;
    padding: 20px;

  }
.div5 {
  background-color: rgb(89, 119, 155);
}
  h3{
    color: rgba(255, 255, 255, 0.768);

 
  }

  body{
    background-color:rgba(163, 114, 158, 0.844);
  }

h4{
    background-color: rgb(93, 142, 121);
    color: rgb(250, 248, 248);
    border: 2px solid rgba(255, 255, 255, 0.332);
    margin: 20px;
    padding: 20px;

  }

  h4
    color: rgba(255, 255, 255, 0.768);

  body{
    background-color: rgba(34, 96, 43, 0.907);
}